/* swiper-slide */

.mySwiper {
	width: 100%;
	height: 100%; /* Ширина и высота слайдера на весь экран */
}

.top-header-slide img {
	position: absolute;
}

.top-header-slide {
	width: 100%;
	height: 100%; /* Каждый слайд растягивается на весь экран */
	position: relative;
}

.top-header-swiper-pagination {
	display: flex;
	margin-bottom: 64px;
	gap: 15px;
	justify-content: center;
	align-items: center;
}

.top-header-swiper-pagination-bullet {
	background-color: #4c4c4c;
}

.swiper-pagination-bullet-active {
	width: 19px;
	height: 19px;
	background-color: $active;
}

/* контент */

.top-header {
	position: relative;
	width: 100%;
	height: calc(100vh - 316px); /* Высота секции на весь экран */

	&__wrapper {
		position: absolute; /* Абсолютное позиционирование */
		top: 0; /* Привязываем к верхнему краю */
		left: 0; /* Привязываем к левому краю */
		right: 0; /* Привязываем к правому краю */
		bottom: 0; /* Привязываем к нижнему краю */
		background-size: cover; /* Растягиваем фоновое изображение на весь элемент */
		background-position: center; /* Центрируем фоновое изображение */
		background-repeat: no-repeat; /* Не повторяем изображение */
	}

	&__content {
		position: absolute;
		right: 0;
		left: 0;
		display: flex;
		height: 100%;
		max-width: 1310px;
		margin: 0 auto;
		padding: 0 15px;
	}

	&__content-inner {
		max-width: 780px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__title {
		color: $white;
		font-family: 'Bebas Neue Cyrillic';
		font-size: 110px;
		font-weight: 400;
		line-height: 123%;
		margin-bottom: 48px;
	}

	&__text {
		color: $white;
		font-family: Inter;
		font-size: 18px;
		font-weight: 300;
		line-height: 160%;
		margin-bottom: 40px;
		margin-bottom: 40px;
	}

	&__container {
		display: flex;
		justify-content: center;
		position: relative;
		z-index: 10;
	}

	&__box {
		display: flex;
		flex-direction: column;
		align-content: flex-start;
		justify-content: space-between;
		padding: 48px 86px;
		font-size: 24px;
		font-weight: 500;
		text-align: start;
		max-height: 212px;
		overflow: hidden; /* Разрешаем выходить за пределы */
		transition: all 0.3s ease; /* Плавные анимации */
	}
	&__box-text {
		max-width: 320px;
		color: $white;
		font-weight: 500;
		line-height: 160%;
	}
	&__box-link {
		opacity: 0;
		color: #f57520;
		font-weight: 500;
		line-height: 123%;
		max-width: 320px;
		width: 100%;
	}

	&__box:nth-child(1) {
		display: flex;
		align-items: flex-end;
		background-color: $bg;
		position: relative;
		padding-right: 10px;
		&:hover {
			height: 276px;
			transform: translateY(-32px);
			border-radius: 0px 10px 10px 0px;
			.top-header__box-link {
				opacity: 1;
			}
		}
	}

	&__box:nth-child(1),
	&__box:nth-child(3) {
		height: 212px;
		flex-grow: 1;
	}

	&__box:nth-child(2) {
		flex-grow: 0;
		flex-shrink: 0;
		flex-basis: 427px;
		height: 212px;
		background-color: #131313;
		&:hover {
			height: 276px;
			transform: translateY(-32px);
			border-radius: 10px;
			.top-header__box-link {
				opacity: 1;
			}
		}
	}

	&__box:nth-child(3) {
		background-color: #2e2e2e;
		&:hover {
			height: 276px;
			transform: translateY(-32px);
			border-radius: 10px 0px 0px 10px;
			.top-header__box-link {
				opacity: 1;
			}
		}
	}
}
