<header class="header">
  <div class="container">
    <nav class="header__nav">

      <a class="logo" href="#">
        <img class="logo__img" src="images/logo.png" alt="logo img">
      </a>

      <ul class="header__menu">
        <li class="header__menu-item">
          <a class="header__menu-link header__menu-link--active" href="#">
            Trade In
          </a>
        </li>
        <li class="header__menu-item">
          <a class="header__menu-link" href="#">
            Велосипеды
          </a>
        </li>
        <li class="header__menu-item">
          <a class="header__menu-link" href="#">
            Запчасти
          </a>
        </li>
        <li class="header__menu-item">
          <a class="header__menu-link" href="#">
            Экипировка
          </a>
        </li>
        <li class="header__menu-item">
          <a class="header__menu-link" href="#">
            Аксессуары
          </a>
        </li>
        <li class="header__menu-item">
          <a class="header__menu-link" href="#">
            Велостанки
          </a>
        </li>
      </ul>

      <ul class="header__userNav">
        <li class="header__userNav-item">
          <a class="header__userNav-link" href="#">
            <svg class="header__userNav-svg">
              <use xlink:href="images/sprite.svg#search"></use>
            </svg>
          </a>
        </li>
        <li class="header__userNav-item">
          <a class="header__userNav-link" href="#">
            <svg class="header__userNav-svg">
              <use href="images/sprite.svg#user"></use>
            </svg>
          </a>
        </li>
        <li class="header__userNav-item">
          <a class="header__userNav-link" href="#">
            <svg class="header__userNav-svg">
              <use xlink:href="images/sprite.svg#heart"></use>
            </svg>
          </a>
        </li>
        <li class="header__userNav-item">
          <a class="header__userNav-link" href="#">
            <svg class="header__userNav-svg">
              <use xlink:href="images/sprite.svg#cart"></use>
            </svg>
          </a>
        </li>
      </ul>

      <ul class="burger__menu">
        <h2 class="burger__title">
          Доп. Информация
        </h2>
        <li class="burger__list">
          <a class="burger__link" href="#">
            О нас
          </a>
        </li>
        <li class="burger__list">
          <a class="burger__link" href="#">
            Веломастерская
          </a>
        </li>
        <li class="burger__list">
          <a class="burger__link" href="#">
            Хранение
          </a>
        </li>
        <li class="burger__list">
          <a class="burger__link" href="#">
            Гарантии
          </a>
        </li>
        <li class="burger__list">
          <a class="burger__link" href="#">
            Пользовательское соглашение
          </a>
        </li>
        <li class="burger__list">
          <a class="burger__link" href="#">
            Доставка и оплата
          </a>
        </li>
        <li class="burger__list">
          <a class="burger__link" href="#">
            Блог
          </a>
        </li>
        <li class="burger__list">
          <a class="burger__link" href="#">
            Контакты
          </a>
        </li>
      </ul>
      <input class="burger__input" id="burger-toggle" type="checkbox">
      <label class="burger__label" for="burger-toggle">
        <span></span>
      </label>
    </nav>
  </div>
</header>