<header class="header">
  <div class="container">
    <nav class="header__nav">

      <a class="logo" href="#">
        <img class="logo__img" src="images/logo.png" alt="logo img">
      </a>

      <ul class="header__menu">
        <li class="header__menu-item">
          <a class="header__menu-link header__menu-link--active" href="#">
            Trade In
          </a>
        </li>
        <li class="header__menu-item">
          <a class="header__menu-link" href="#">
            Велосипеды
          </a>
          <div class="header-dropdown">
            <ul class="header-dropdown__list">
              <li class="header-dropdown__item">
                <a class="header-dropdown__link" href="#">Горные велосипеды</a>
              </li>
              <li class="header-dropdown__item">
                <a class="header-dropdown__link" href="#">Городские велосипеды</a>
              </li>
              <li class="header-dropdown__item">
                <a class="header-dropdown__link" href="#">Шоссейные велосипеды</a>
              </li>
              <li class="header-dropdown__item">
                <a class="header-dropdown__link" href="#">Гравийные велосипеды</a>
              </li>
              <li class="header-dropdown__item">
                <a class="header-dropdown__link" href="#">Трековые велосипеды</a>
              </li>
            </ul>
            <ul class="header-dropdown__list">
              <li class="header-dropdown__item">
                <a class="header-dropdown__link" href="#">Велосипеды для триатлона</a>
              </li>
              <li class="header-dropdown__item">
                <a class="header-dropdown__link" href="#">Двухподвесные велосипеды</a>
              </li>
              <li class="header-dropdown__item">
                <a class="header-dropdown__link" href="#">Электровелосипеды</a>
              </li>
              <li class="header-dropdown__item">
                <a class="header-dropdown__link" href="#">Женские велосипеды</a>
              </li>
              <li class="header-dropdown__item">
                <a class="header-dropdown__link" href="#">Детские велосипеды</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="header__menu-item">
          <a class="header__menu-link" href="#">
            Запчасти
          </a>
          <div class="header-dropdown">
            <ul class="header-dropdown__list">
              <li class="header-dropdown__item">
                <a class="header-dropdown__link" href="#">Горные велосипеды</a>
              </li>
              <li class="header-dropdown__item">
                <a class="header-dropdown__link" href="#">Городские велосипеды</a>
              </li>
              <li class="header-dropdown__item">
                <a class="header-dropdown__link" href="#">Шоссейные велосипеды</a>
              </li>
              <li class="header-dropdown__item">
                <a class="header-dropdown__link" href="#">Гравийные велосипеды</a>
              </li>
              <li class="header-dropdown__item">
                <a class="header-dropdown__link" href="#">Трековые велосипеды</a>
              </li>
            </ul>
            <ul class="header-dropdown__list">
              <li class="header-dropdown__item">
                <a class="header-dropdown__link" href="#">Велосипеды для триатлона</a>
              </li>
              <li class="header-dropdown__item">
                <a class="header-dropdown__link" href="#">Двухподвесные велосипеды</a>
              </li>
              <li class="header-dropdown__item">
                <a class="header-dropdown__link" href="#">Электровелосипеды</a>
              </li>
              <li class="header-dropdown__item">
                <a class="header-dropdown__link" href="#">Женские велосипеды</a>
              </li>
              <li class="header-dropdown__item">
                <a class="header-dropdown__link" href="#">Детские велосипеды</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="header__menu-item">
          <a class="header__menu-link" href="#">
            Экипировка
          </a>
          <div class="header-dropdown">
            <ul class="header-dropdown__list">
              <li class="header-dropdown__item">
                <a class="header-dropdown__link" href="#">Горные велосипеды</a>
              </li>
              <li class="header-dropdown__item">
                <a class="header-dropdown__link" href="#">Городские велосипеды</a>
              </li>
              <li class="header-dropdown__item">
                <a class="header-dropdown__link" href="#">Шоссейные велосипеды</a>
              </li>
              <li class="header-dropdown__item">
                <a class="header-dropdown__link" href="#">Гравийные велосипеды</a>
              </li>
              <li class="header-dropdown__item">
                <a class="header-dropdown__link" href="#">Трековые велосипеды</a>
              </li>
            </ul>
            <ul class="header-dropdown__list">
              <li class="header-dropdown__item">
                <a class="header-dropdown__link" href="#">Велосипеды для триатлона</a>
              </li>
              <li class="header-dropdown__item">
                <a class="header-dropdown__link" href="#">Двухподвесные велосипеды</a>
              </li>
              <li class="header-dropdown__item">
                <a class="header-dropdown__link" href="#">Электровелосипеды</a>
              </li>
              <li class="header-dropdown__item">
                <a class="header-dropdown__link" href="#">Женские велосипеды</a>
              </li>
              <li class="header-dropdown__item">
                <a class="header-dropdown__link" href="#">Детские велосипеды</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="header__menu-item">
          <a class="header__menu-link" href="#">
            Аксессуары
          </a>
          <div class="header-dropdown">
            <ul class="header-dropdown__list">
              <li class="header-dropdown__item">
                <a class="header-dropdown__link" href="#">Горные велосипеды</a>
              </li>
              <li class="header-dropdown__item">
                <a class="header-dropdown__link" href="#">Городские велосипеды</a>
              </li>
              <li class="header-dropdown__item">
                <a class="header-dropdown__link" href="#">Шоссейные велосипеды</a>
              </li>
              <li class="header-dropdown__item">
                <a class="header-dropdown__link" href="#">Гравийные велосипеды</a>
              </li>
              <li class="header-dropdown__item">
                <a class="header-dropdown__link" href="#">Трековые велосипеды</a>
              </li>
            </ul>
            <ul class="header-dropdown__list">
              <li class="header-dropdown__item">
                <a class="header-dropdown__link" href="#">Велосипеды для триатлона</a>
              </li>
              <li class="header-dropdown__item">
                <a class="header-dropdown__link" href="#">Двухподвесные велосипеды</a>
              </li>
              <li class="header-dropdown__item">
                <a class="header-dropdown__link" href="#">Электровелосипеды</a>
              </li>
              <li class="header-dropdown__item">
                <a class="header-dropdown__link" href="#">Женские велосипеды</a>
              </li>
              <li class="header-dropdown__item">
                <a class="header-dropdown__link" href="#">Детские велосипеды</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="header__menu-item">
          <a class="header__menu-link" href="#">
            Велостанки
          </a>
          <div class="header-dropdown">
            <ul class="header-dropdown__list">
              <li class="header-dropdown__item">
                <a class="header-dropdown__link" href="#">Горные велосипеды</a>
              </li>
              <li class="header-dropdown__item">
                <a class="header-dropdown__link" href="#">Городские велосипеды</a>
              </li>
              <li class="header-dropdown__item">
                <a class="header-dropdown__link" href="#">Шоссейные велосипеды</a>
              </li>
              <li class="header-dropdown__item">
                <a class="header-dropdown__link" href="#">Гравийные велосипеды</a>
              </li>
              <li class="header-dropdown__item">
                <a class="header-dropdown__link" href="#">Трековые велосипеды</a>
              </li>
            </ul>
            <ul class="header-dropdown__list">
              <li class="header-dropdown__item">
                <a class="header-dropdown__link" href="#">Велосипеды для триатлона</a>
              </li>
              <li class="header-dropdown__item">
                <a class="header-dropdown__link" href="#">Двухподвесные велосипеды</a>
              </li>
              <li class="header-dropdown__item">
                <a class="header-dropdown__link" href="#">Электровелосипеды</a>
              </li>
              <li class="header-dropdown__item">
                <a class="header-dropdown__link" href="#">Женские велосипеды</a>
              </li>
              <li class="header-dropdown__item">
                <a class="header-dropdown__link" href="#">Детские велосипеды</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>

      <ul class="header__userNav">
        <li class="header__userNav-item header__userNav-item--search">
          <a class="header__userNav-link" href="#">
            <svg class="header__userNav-svg">
              <use xlink:href="images/sprite.svg#search"></use>
            </svg>
          </a>
        </li>
        <li class="header__userNav-item">
          <a class="header__userNav-link" href="#">
            <svg class="header__userNav-svg">
              <use href="images/sprite.svg#user"></use>
            </svg>
          </a>
        </li>
        <li class="header__userNav-item">
          <a class="header__userNav-link" href="#">
            <svg class="header__userNav-svg">
              <use xlink:href="images/sprite.svg#heart"></use>
            </svg>
          </a>
        </li>
        <li class="header__userNav-item">
          <a class="header__userNav-link" href="#">
            <svg class="header__userNav-svg">
              <use xlink:href="images/sprite.svg#cart"></use>
            </svg>
          </a>
        </li>
        <div class="search-container">
          <input type="text" class="search-input" placeholder="Поиск">
          <svg class="search-img">
            <use href="images/sprite.svg#search"></use>
          </svg>
        </div>
      </ul>
      <div class="hamburger-menu">
        <input class="burger__input" id="burger-toggle" type="checkbox">
        <label class="burger__label" for="burger-toggle">
          <span></span>
        </label>
        <ul class="menu__box">
          <a class="logo logo--hidden" href="#">
            <img class="logo__img" src="images/logo-hidden.png" alt="logo img">
          </a>
          <h3 class="menu__box-title">Доп. Информация</h3>
          <ul class="header__menu header__menu--active">
            <li class="header__menu-item">
              <a class="header__menu-link header__menu-link--active" href="#">
                Trade In
              </a>
            </li>
            <li class="header__menu-item">
              <a class="header__menu-link" href="#">
                Велосипеды
                <svg class="header__menu-svg">
                  <use href="images/sprite.svg#arrow-bottom"></use>
                </svg>
              </a>
            </li>
            <ul class="dropdown-list">
              <li class="dropdown-list__item"><a class="dropdown-list__link" href="#">Велокуртки</a></li>
              <li class="dropdown-list__item"><a class="dropdown-list__link" href="#">Велотрусы</a></li>
              <li class="dropdown-list__item"><a class="dropdown-list__link" href="#">Термобелье</a></li>
              <li class="dropdown-list__item"><a class="dropdown-list__link" href="#">Велообувь</a></li>
              <li class="dropdown-list__item"><a class="dropdown-list__link" href="#">Велошлемы</a></li>
              <li class="dropdown-list__item"><a class="dropdown-list__link" href="#">Велоперчатки</a></li>
              <li class="dropdown-list__item"><a class="dropdown-list__link" href="#">Очки</a></li>
              <li class="dropdown-list__item"><a class="dropdown-list__link" href="#">Аксессуары</a></li>
            </ul>
            <li class="header__menu-item">
              <a class="header__menu-link" href="#">
                Запчасти
                <svg class="header__menu-svg">
                  <use href="images/sprite.svg#arrow-bottom"></use>
                </svg>
              </a>
            </li>
            <ul class="dropdown-list">
              <li class="dropdown-list__item"><a class="dropdown-list__link" href="#">Велокуртки</a></li>
              <li class="dropdown-list__item"><a class="dropdown-list__link" href="#">Велотрусы</a></li>
              <li class="dropdown-list__item"><a class="dropdown-list__link" href="#">Термобелье</a></li>
              <li class="dropdown-list__item"><a class="dropdown-list__link" href="#">Велообувь</a></li>
              <li class="dropdown-list__item"><a class="dropdown-list__link" href="#">Велошлемы</a></li>
              <li class="dropdown-list__item"><a class="dropdown-list__link" href="#">Велоперчатки</a></li>
              <li class="dropdown-list__item"><a class="dropdown-list__link" href="#">Очки</a></li>
              <li class="dropdown-list__item"><a class="dropdown-list__link" href="#">Аксессуары</a></li>
            </ul>
            <li class="header__menu-item">
              <a class="header__menu-link" href="#">
                Экипировка
                <svg class="header__menu-svg">
                  <use href="images/sprite.svg#arrow-bottom"></use>
                </svg>
              </a>
            </li>
            <ul class="dropdown-list">
              <li class="dropdown-list__item"><a class="dropdown-list__link" href="#">Велокуртки</a></li>
              <li class="dropdown-list__item"><a class="dropdown-list__link" href="#">Велотрусы</a></li>
              <li class="dropdown-list__item"><a class="dropdown-list__link" href="#">Термобелье</a></li>
              <li class="dropdown-list__item"><a class="dropdown-list__link" href="#">Велообувь</a></li>
              <li class="dropdown-list__item"><a class="dropdown-list__link" href="#">Велошлемы</a></li>
              <li class="dropdown-list__item"><a class="dropdown-list__link" href="#">Велоперчатки</a></li>
              <li class="dropdown-list__item"><a class="dropdown-list__link" href="#">Очки</a></li>
              <li class="dropdown-list__item"><a class="dropdown-list__link" href="#">Аксессуары</a></li>
            </ul>
            <li class="header__menu-item">
              <a class="header__menu-link" href="#">
                Аксессуары
                <svg class="header__menu-svg">
                  <use href="images/sprite.svg#arrow-bottom"></use>
                </svg>
              </a>
            </li>
            <ul class="dropdown-list">
              <li class="dropdown-list__item"><a class="dropdown-list__link" href="#">Велокуртки</a></li>
              <li class="dropdown-list__item"><a class="dropdown-list__link" href="#">Велотрусы</a></li>
              <li class="dropdown-list__item"><a class="dropdown-list__link" href="#">Термобелье</a></li>
              <li class="dropdown-list__item"><a class="dropdown-list__link" href="#">Велообувь</a></li>
              <li class="dropdown-list__item"><a class="dropdown-list__link" href="#">Велошлемы</a></li>
              <li class="dropdown-list__item"><a class="dropdown-list__link" href="#">Велоперчатки</a></li>
              <li class="dropdown-list__item"><a class="dropdown-list__link" href="#">Очки</a></li>
              <li class="dropdown-list__item"><a class="dropdown-list__link" href="#">Аксессуары</a></li>
            </ul>
            <li class="header__menu-item ">
              <a class="header__menu-link" href="#">
                Велостанки
                <svg class="header__menu-svg ">
                  <use href="images/sprite.svg#arrow-bottom"></use>
                </svg>
              </a>
            </li>
            <ul class="dropdown-list">
              <li class="dropdown-list__item"><a class="dropdown-list__link" href="#">Велокуртки</a></li>
              <li class="dropdown-list__item"><a class="dropdown-list__link" href="#">Велотрусы</a></li>
              <li class="dropdown-list__item"><a class="dropdown-list__link" href="#">Термобелье</a></li>
              <li class="dropdown-list__item"><a class="dropdown-list__link" href="#">Велообувь</a></li>
              <li class="dropdown-list__item"><a class="dropdown-list__link" href="#">Велошлемы</a></li>
              <li class="dropdown-list__item"><a class="dropdown-list__link" href="#">Велоперчатки</a></li>
              <li class="dropdown-list__item"><a class="dropdown-list__link" href="#">Очки</a></li>
              <li class="dropdown-list__item"><a class="dropdown-list__link" href="#">Аксессуары</a></li>
            </ul>
          </ul>
          <li class="menu__item"><a class="menu__link" href="#">О нас</a></li>
          <li class="menu__item"><a class="menu__link" href="#">Веломастерская</a></li>
          <li class="menu__item"><a class="menu__link" href="#">Гарантии</a></li>
          <li class="menu__item"><a class="menu__link" href="#">Пользовательское соглашение</a></li>
          <li class="menu__item"><a class="menu__link" href="#">Доставка и оплата</a></li>
          <li class="menu__item"><a class="menu__link" href="#">Блог</a></li>
          <li class="menu__item"><a class="menu__link" href="#">Контакты</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>