<section class="advantages">
  <div class="container">
    <h2 class="advantages__title">Преимущества</h2>
  </div>
  <div class="advantages__container">
    <img class="advantages__img advantages__img--left" src="images/advantages1-bg.jpg" alt="1">
    <div class="container">

      <ul class="advantages__list">
        <li class="advantages__item">

          <div class="advantages__heading">
            БЕСПЛАТНАЯ ДОСТАВКА
          </div>

          <p class="advantages__text">
            Мы пользуемся всеми популярными видами доставки
          </p>

          <a class="advantages__link" href="#">
            Подробнее
          </a>

        </li>
        <li class="advantages__item">

          <div class="advantages__heading">
            ОБМЕН И ВОЗВРАТ
          </div>

          <p class="advantages__text">
            Все товары обеспечены фирменной гарантией фирм-производителей
          </p>

          <a class="advantages__link" href="#">
            Подробнее
          </a>

        </li>
        <li class="advantages__item">

          <div class="advantages__heading">
            ДОП. ОБСЛУЖИВАНИЕ
          </div>

          <p class="advantages__text">
            Мы выполняем ремонт велосипеда любой сложности
          </p>

          <a class="advantages__link" href="#">
            Подробнее
          </a>

        </li>
        <li class="advantages__item">

          <div class="advantages__heading">
            ОНЛАЙН ОПЛАТА
          </div>

          <p class="advantages__text">
            Для удобства вы можете оплатить товар банковской картой через сайт
          </p>

          <a class="advantages__link" href="#">
            Подробнее
          </a>

        </li>
      </ul>
    </div>
    <img class="advantages__img advantages__img--right" src="images/advantages2-bg.jpg" alt="2">
  </div>
</section>