<section class="catalog">
  <div class="container">
    <h3 class="catalog__title">
      каталог
    </h3>

    <ul class="catalog__list">
      <li class="catalog__item catalog__item--1 ">велосипеды
        <a class="catalog__link" href="#"></a>
      </li>
      <li class="catalog__item catalog__item--2 ">Trade-in
        <a class="catalog__link" href="#"></a>
      </li>
      <li class="catalog__item catalog__item--3 ">Запчасти
        <a class="catalog__link" href="#"></a>
      </li>
      <li class="catalog__item catalog__item--4 ">Аксессуары
        <a class="catalog__link" href="#"></a>
      </li>
      <li class="catalog__item catalog__item--5 ">Экипировка
        <a class="catalog__link" href="#"></a>
      </li>
      <li class="catalog__item catalog__item--6 ">Велостанки
        <a class="catalog__link" href="#"></a>
      </li>
    </ul>

    <div class="catalog-info">
      <h3 class="catalog-info__title">
        Ничего не сможет остановить вас
      </h3>
      <div class="catalog-info__content">
        <p class="catalog-info__text">
          Наша компания специализируется на продаже товаров для велосипедного спорта — велосипедов, запасных частей,
          аксессуаров
          и различного спортивного инвентаря для активного спорта и отдыха.
        </p>
        <a class="catalog-info__link" href="#">Подробнее</a>
      </div>
    </div>


  </div>
</section>