<section class="equipment">
  <div class="container">
    <h2 class="equipment__title">Экипировка</h2>
    <div class="equipment-swiper equipmentSwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide equipment-swiper__slide">
          <img class="equipment-swiper__img" src="images/equipment/1.jpg" alt="#">
          <p class="equipment-swiper__text">Rudy Project Airstorm Lime Fluo White Shiny</p>
          <div class="equipment-swiper__prise">
            <span class="equipment-swiper__new-prise">7 990 ₽</span>
            <span class="equipment-swiper__old-prise">10 627 ₽</span>
          </div>
        </div>
        <div class="swiper-slide equipment-swiper__slide">
          <img class="equipment-swiper__img" src="images/equipment/1.jpg" alt="#">
          <p class="equipment-swiper__text">Rudy Project Airstorm Lime Fluo White Shiny</p>
          <div class="equipment-swiper__prise">
            <span class="equipment-swiper__new-prise">7 990 ₽</span>
            <span class="equipment-swiper__old-prise">10 627 ₽</span>
          </div>
        </div>
        <div class="swiper-slide equipment-swiper__slide">
          <img class="equipment-swiper__img" src="images/equipment/1.jpg" alt="#">
          <p class="equipment-swiper__text">Rudy Project Airstorm Lime Fluo White Shiny</p>
          <div class="equipment-swiper__prise">
            <span class="equipment-swiper__new-prise">7 990 ₽</span>
            <span class="equipment-swiper__old-prise">10 627 ₽</span>
          </div>
        </div>
        <div class="swiper-slide equipment-swiper__slide">
          <img class="equipment-swiper__img" src="images/equipment/1.jpg" alt="#">
          <p class="equipment-swiper__text">Rudy Project Airstorm Lime Fluo White Shiny</p>
          <div class="equipment-swiper__prise">
            <span class="equipment-swiper__new-prise">7 990 ₽</span>
            <span class="equipment-swiper__old-prise">10 627 ₽</span>
          </div>
        </div>
        <div class="swiper-slide equipment-swiper__slide">
          <img class="equipment-swiper__img" src="images/equipment/1.jpg" alt="#">
          <p class="equipment-swiper__text">Rudy Project Airstorm Lime Fluo White Shiny</p>
          <div class="equipment-swiper__prise">
            <span class="equipment-swiper__new-prise">7 990 ₽</span>
            <span class="equipment-swiper__old-prise">10 627 ₽</span>
          </div>
        </div>
        <div class="swiper-slide equipment-swiper__slide">
          <img class="equipment-swiper__img" src="images/equipment/1.jpg" alt="#">
          <p class="equipment-swiper__text">Rudy Project Airstorm Lime Fluo White Shiny</p>
          <div class="equipment-swiper__prise">
            <span class="equipment-swiper__new-prise">7 990 ₽</span>
            <span class="equipment-swiper__old-prise">10 627 ₽</span>
          </div>
        </div>
        <div class="swiper-slide equipment-swiper__slide">
          <img class="equipment-swiper__img" src="images/equipment/1.jpg" alt="#">
          <p class="equipment-swiper__text">Rudy Project Airstorm Lime Fluo White Shiny</p>
          <div class="equipment-swiper__prise">
            <span class="equipment-swiper__new-prise">7 990 ₽</span>
            <span class="equipment-swiper__old-prise">10 627 ₽</span>
          </div>
        </div>
        <div class="swiper-slide equipment-swiper__slide">
          <img class="equipment-swiper__img" src="images/equipment/1.jpg" alt="#">
          <p class="equipment-swiper__text">Rudy Project Airstorm Lime Fluo White Shiny</p>
          <div class="equipment-swiper__prise">
            <span class="equipment-swiper__new-prise">7 990 ₽</span>
            <span class="equipment-swiper__old-prise">10 627 ₽</span>
          </div>
        </div>
        <div class="swiper-slide equipment-swiper__slide">
          <img class="equipment-swiper__img" src="images/equipment/1.jpg" alt="#">
          <p class="equipment-swiper__text">Rudy Project Airstorm Lime Fluo White Shiny</p>
          <div class="equipment-swiper__prise">
            <span class="equipment-swiper__new-prise">7 990 ₽</span>
            <span class="equipment-swiper__old-prise">10 627 ₽</span>
          </div>
        </div>
        <div class="swiper-slide equipment-swiper__slide">
          <img class="equipment-swiper__img" src="images/equipment/1.jpg" alt="#">
          <p class="equipment-swiper__text">Rudy Project Airstorm Lime Fluo White Shiny</p>
          <div class="equipment-swiper__prise">
            <span class="equipment-swiper__new-prise">7 990 ₽</span>
            <span class="equipment-swiper__old-prise">10 627 ₽</span>
          </div>
        </div>
      </div>
      <!-- <div class="equipment-swiper__button-next"> -->
      <!-- Кнопка "Далее" -->
      <div class="equipment-swiper__button-next equipment-swiper__button">
        <svg class="equipment-swiper__arrow-svg">
          <use href="images/sprite.svg#arrow-next"></use>
        </svg>
      </div>

      <!-- Кнопка "Назад" -->
      <div class="equipment-swiper__button-prev equipment-swiper__button">
        <svg class="equipment-swiper__arrow-svg">
          <use href="images/sprite.svg#arrow-prev"></use>
        </svg>
      </div>
    </div>
    <div class="equipment__inner">
      <a class="equipment__link" href="">показать все</a>
    </div>
  </div>
</section>