<section class="map">
  <div class="container">
    <h2 class="map__title">Контакты</h2>
  </div>
  <div class="map__container">
    <div class="map__map" style="width: 100%; height: 500px"></div>
  </div>
  <div class="container">
    <div class="map__inner">
      <ul class="map__info">
        <li class="map__item">
          <a class="map__link map__link--tel" href="#">+7 (495) 055-75-86</a>
          <a class="map__link" href="#">+7 (965) 142-22-99</a>
        </li>
        <li class="map__item">
          <a class="map__link map__link--navigation" href="#">г. Москва, ул. Доватора, 7/8 с1</a>
        </li>
        <li class="map__item">
          <a class="map__link map__link--mail" href="#">order@world-bike.ru</a>
        </li>
        <li class="map__item">
          <a class="map__link map__link--calendar" href="#">Без выходных</a>
          <a class="map__link" href="#">10:00-20:00</a>
        </li>
      </ul>
    </div>
  </div>



</section>