<section class="mountain">
  <div class="container">
    <h3 class="mountain__title">Горные велосипеды</h3>
    <div class="mountain__wrapper">

      <div class="mountain-card">

        <div class="mountain-card__item">
          <h4 class="mountain-card__title mountain-card__title--frame">
            Рама
          </h4>
          <p class="mountain-card__text">
            It is a long established fact that a reader will be distracted by the readable content of
          </p>
        </div>

        <div class="mountain-card__item">
          <h4 class="mountain-card__title mountain-card__title--computer">
            Бортовой <br> компьютер
          </h4>
          <p class="mountain-card__text">
            The point of using lorem ipsum is that it has a more-or-less normal distribution of letters
          </p>
        </div>

        <div class="mountain-card__item">
          <h4 class="mountain-card__title mountain-card__title--transmission">
            Трансмиссия
          </h4>
          <p class="mountain-card__text">
            Many desktop publishing packages and web page editors now use lorem ipsum as
          </p>
        </div>

        <div class="mountain-card__item">
          <h4 class="mountain-card__title mountain-card__title--equipment">
            Оборудование
          </h4>
          <p class="mountain-card__text">
            Contrary to popular belief, lorem ipsum is not simply random text. It has roots in
          </p>
        </div>

      </div>

      <div class="mountain-about">
        <img class="mountain-about__img" src="images/velo.jpg" alt="#">
        <p class="mountain-about__text">
          Горный велосипед несмотря на свое название часто и активно используются в условиях города, так как обладает
          рядом
          характеристик, позволяющих сделать велопрогулку максимально приятной и комфортной
        </p>
        <button class="mountain-about__btn button">Каталог</button>
      </div>

    </div>
  </div>
</section>