<section class="new-products">
  <div class="container">
    <h3 class="new-products__title">Новинки</h3>
    <ul class="product">
      <li class="product__item">
        <div class="product__flag">
          <img class="product__flag-element" src="images/products/flag/аmerica.jpg" alt="#">
        </div>
        <div class="product__have">
          <p class="product__status product__false ">Распродано</p>
        </div>
        <img class="product__img" src="images/products/1.png" alt="#">
        <p class="product__text">
          Bianchi AQUILA L DURA ACE DI2 TEAM <br> JUMBO 2021
        </p>
        <span class="product__prise">684 840 ₽</span>
        <a class="product__link" href="#"></a>
        <div class="product__inner-btn">
          <button class="product__btn button">
            В 1 клик
          </button>
        </div>
      </li>
      <li class="product__item">
        <div class="product__flag">
          <img class="product__flag-element" src="images/products/flag/аmerica.jpg" alt="#">
        </div>
        <div class="product__have">
          <p class="product__status product__false ">Распродано</p>
        </div>
        <img class="product__img" src="images/products/1.png" alt="#">
        <p class="product__text">
          Bianchi AQUILA L DURA ACE DI2 TEAM <br> JUMBO 2021
        </p>
        <span class="product__prise">684 840 ₽</span>
        <a class="product__link" href="#"></a>
        <div class="product__inner-btn">
          <button class="product__btn button">
            В 1 клик
          </button>
        </div>
      </li>
      <li class="product__item">
        <div class="product__flag">
          <img class="product__flag-element" src="images/products/flag/аmerica.jpg" alt="#">
        </div>
        <div class="product__have">
          <p class="product__status product__true ">В наличии</p>
        </div>
        <img class="product__img" src="images/products/1.png" alt="#">
        <p class="product__text">
          Bianchi AQUILA L DURA ACE DI2 TEAM <br> JUMBO 2021
        </p>
        <span class="product__prise">684 840 ₽</span>
        <a class="product__link" href="#"></a>
        <div class="product__inner-btn">
          <button class="product__btn button">
            В 1 клик
          </button>
        </div>
      </li>
    </ul>
    <div class="product__inner">
      <a class="product__else" href="">показать все</a>
    </div>
  </div>
</section>