@charset "UTF-8";
/* @mixin active {
	text-shadow: 2px 2px 5px rgba($darkGreen-900, 0.5);
	box-shadow: 0 0 0 2px rgba($orange-900, 0);
	color: $darkGreen-900;
	Подключение @include fonts;
} */
@font-face {
  font-family: "BebasNeue";
  src: url("../fonts/BebasNeueBold.woff2") format("woff2"), url("../fonts/BebasNeueBold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "BebasNeue";
  src: url("../fonts/BebasNeueRegular.woff2") format("woff2"), url("../fonts/BebasNeueRegular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Light.woff2") format("woff2"), url("../fonts/Inter-Light.woff") format("woff");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
/* @include font-face(Rubik, Rubik-Regular-Italic, 400); */
html,
body {
  height: 100%;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
a,
textarea,
select,
input {
  outline: 0;
  border: none;
}

button {
  border: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  cursor: pointer;
}

/**
 * Swiper 11.1.15
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * https://swiperjs.com
 *
 * Copyright 2014-2024 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: November 18, 2024
 */
/* FONT_START */
@font-face {
  font-family: "swiper-icons";
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA");
  font-weight: 400;
  font-style: normal;
}
/* FONT_END */
:root {
  --swiper-theme-color: #007aff;
  /*
  --swiper-preloader-color: var(--swiper-theme-color);
  --swiper-wrapper-transition-timing-function: initial;
  */
}

:host {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
  display: block;
}

.swiper-vertical > .swiper-wrapper {
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
  box-sizing: content-box;
}

.swiper-android .swiper-slide,
.swiper-ios .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-horizontal {
  touch-action: pan-y;
}

.swiper-vertical {
  touch-action: pan-x;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
  display: block;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

/* Auto Height */
.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}

.swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  backface-visibility: hidden;
}

/* 3D Effects */
.swiper-3d.swiper-css-mode .swiper-wrapper {
  perspective: 1200px;
}

.swiper-3d .swiper-wrapper {
  transform-style: preserve-3d;
}

.swiper-3d {
  perspective: 1200px;
}

.swiper-3d .swiper-slide,
.swiper-3d .swiper-cube-shadow {
  transform-style: preserve-3d;
}

/* CSS Mode */
.swiper-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
}

.swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}

.swiper-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}

.swiper-css-mode.swiper-horizontal > .swiper-wrapper {
  scroll-snap-type: x mandatory;
}

.swiper-css-mode.swiper-vertical > .swiper-wrapper {
  scroll-snap-type: y mandatory;
}

.swiper-css-mode.swiper-free-mode > .swiper-wrapper {
  scroll-snap-type: none;
}

.swiper-css-mode.swiper-free-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: none;
}

.swiper-css-mode.swiper-centered > .swiper-wrapper::before {
  content: "";
  flex-shrink: 0;
  order: 9999;
}

.swiper-css-mode.swiper-centered > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: center center;
  scroll-snap-stop: always;
}

.swiper-css-mode.swiper-centered.swiper-horizontal > .swiper-wrapper > .swiper-slide:first-child {
  margin-inline-start: var(--swiper-centered-offset-before);
}

.swiper-css-mode.swiper-centered.swiper-horizontal > .swiper-wrapper::before {
  height: 100%;
  min-height: 1px;
  width: var(--swiper-centered-offset-after);
}

.swiper-css-mode.swiper-centered.swiper-vertical > .swiper-wrapper > .swiper-slide:first-child {
  margin-block-start: var(--swiper-centered-offset-before);
}

.swiper-css-mode.swiper-centered.swiper-vertical > .swiper-wrapper::before {
  width: 100%;
  min-width: 1px;
  height: var(--swiper-centered-offset-after);
}

/* Slide styles start */
/* 3D Shadows */
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.swiper-3d .swiper-slide-shadow {
  background: rgba(0, 0, 0, 0.15);
}

.swiper-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  transform-origin: 50%;
  box-sizing: border-box;
  border: 4px solid var(--swiper-preloader-color, var(--swiper-theme-color));
  border-radius: 50%;
  border-top-color: transparent;
}

.swiper:not(.swiper-watch-progress) .swiper-lazy-preloader,
.swiper-watch-progress .swiper-slide-visible .swiper-lazy-preloader {
  animation: swiper-preloader-spin 1s infinite linear;
}

.swiper-lazy-preloader-white {
  --swiper-preloader-color: #fff;
}

.swiper-lazy-preloader-black {
  --swiper-preloader-color: #000;
}

@keyframes swiper-preloader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Slide styles end */
.swiper-virtual .swiper-slide {
  -webkit-backface-visibility: hidden;
  transform: translateZ(0);
}

.swiper-virtual.swiper-css-mode .swiper-wrapper::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}

.swiper-virtual.swiper-css-mode.swiper-horizontal .swiper-wrapper::after {
  height: 1px;
  width: var(--swiper-virtual-size);
}

.swiper-virtual.swiper-css-mode.swiper-vertical .swiper-wrapper::after {
  width: 1px;
  height: var(--swiper-virtual-size);
}

:root {
  --swiper-navigation-size: 44px;
  /*
  --swiper-navigation-top-offset: 50%;
  --swiper-navigation-sides-offset: 10px;
  --swiper-navigation-color: var(--swiper-theme-color);
  */
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: var(--swiper-navigation-top-offset, 50%);
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - var(--swiper-navigation-size) / 2);
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}

.swiper-button-prev.swiper-button-hidden,
.swiper-button-next.swiper-button-hidden {
  opacity: 0;
  cursor: auto;
  pointer-events: none;
}

.swiper-navigation-disabled .swiper-button-prev,
.swiper-navigation-disabled .swiper-button-next {
  display: none !important;
}

.swiper-button-prev svg,
.swiper-button-next svg {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transform-origin: center;
}

.swiper-rtl .swiper-button-prev svg,
.swiper-rtl .swiper-button-next svg {
  transform: rotate(180deg);
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: var(--swiper-navigation-sides-offset, 10px);
  right: auto;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: var(--swiper-navigation-sides-offset, 10px);
  left: auto;
}

.swiper-button-lock {
  display: none;
}

/* Navigation font start */
.swiper-button-prev:after,
.swiper-button-next:after {
  font-family: swiper-icons;
  font-size: var(--swiper-navigation-size);
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: "prev";
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: var(--swiper-navigation-sides-offset, 10px);
  left: auto;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "next";
}

/* Navigation font end */
:root {
  /*
  --swiper-pagination-color: var(--swiper-theme-color);
  --swiper-pagination-left: auto;
  --swiper-pagination-right: 8px;
  --swiper-pagination-bottom: 8px;
  --swiper-pagination-top: auto;
  --swiper-pagination-fraction-color: inherit;
  --swiper-pagination-progressbar-bg-color: rgba(0,0,0,0.25);
  --swiper-pagination-progressbar-size: 4px;
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-width: 8px;
  --swiper-pagination-bullet-height: 8px;
  --swiper-pagination-bullet-border-radius: 50%;
  --swiper-pagination-bullet-inactive-color: #000;
  --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px;
  */
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}

.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}

.swiper-pagination-disabled > .swiper-pagination,
.swiper-pagination.swiper-pagination-disabled {
  display: none !important;
}

/* Common Styles */
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: var(--swiper-pagination-bottom, 8px);
  top: var(--swiper-pagination-top, auto);
  left: 0;
  width: 100%;
}

/* Bullets */
.swiper-pagination-bullets-dynamic {
  overflow: hidden;
  font-size: 0;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transform: scale(0.33);
  position: relative;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
  transform: scale(1);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
  transform: scale(1);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
  transform: scale(0.66);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
  transform: scale(0.33);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
  transform: scale(0.66);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
  transform: scale(0.33);
}

.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 8px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 8px));
  display: inline-block;
  border-radius: var(--swiper-pagination-bullet-border-radius, 50%);
  background: var(--swiper-pagination-bullet-inactive-color, #000);
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.2);
}

button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}

.swiper-pagination-bullet:only-child {
  display: none !important;
}

.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
}

.swiper-vertical > .swiper-pagination-bullets,
.swiper-pagination-vertical.swiper-pagination-bullets {
  right: var(--swiper-pagination-right, 8px);
  left: var(--swiper-pagination-left, auto);
  top: 50%;
  transform: translate3d(0px, -50%, 0);
}

.swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: var(--swiper-pagination-bullet-vertical-gap, 6px) 0;
  display: block;
}

.swiper-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
}

.swiper-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet,
.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  display: inline-block;
  transition: 200ms transform, 200ms top;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
}

.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: 200ms transform, 200ms left;
}

.swiper-horizontal.swiper-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: 200ms transform, 200ms right;
}

/* Fraction */
.swiper-pagination-fraction {
  color: var(--swiper-pagination-fraction-color, inherit);
}

/* Progress */
.swiper-pagination-progressbar {
  background: var(--swiper-pagination-progressbar-bg-color, rgba(0, 0, 0, 0.25));
  position: absolute;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transform-origin: left top;
}

.swiper-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  transform-origin: right top;
}

.swiper-horizontal > .swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal,
.swiper-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,
.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite {
  width: 100%;
  height: var(--swiper-pagination-progressbar-size, 4px);
  left: 0;
  top: 0;
}

.swiper-vertical > .swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-vertical,
.swiper-horizontal > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,
.swiper-pagination-progressbar.swiper-pagination-horizontal.swiper-pagination-progressbar-opposite {
  width: var(--swiper-pagination-progressbar-size, 4px);
  height: 100%;
  left: 0;
  top: 0;
}

.swiper-pagination-lock {
  display: none;
}

:root {
  /*
  --swiper-scrollbar-border-radius: 10px;
  --swiper-scrollbar-top: auto;
  --swiper-scrollbar-bottom: 4px;
  --swiper-scrollbar-left: auto;
  --swiper-scrollbar-right: 4px;
  --swiper-scrollbar-sides-offset: 1%;
  --swiper-scrollbar-bg-color: rgba(0, 0, 0, 0.1);
  --swiper-scrollbar-drag-bg-color: rgba(0, 0, 0, 0.5);
  --swiper-scrollbar-size: 4px;
  */
}

.swiper-scrollbar {
  border-radius: var(--swiper-scrollbar-border-radius, 10px);
  position: relative;
  touch-action: none;
  background: var(--swiper-scrollbar-bg-color, rgba(0, 0, 0, 0.1));
}

.swiper-scrollbar-disabled > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-disabled {
  display: none !important;
}

.swiper-horizontal > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
  position: absolute;
  left: var(--swiper-scrollbar-sides-offset, 1%);
  bottom: var(--swiper-scrollbar-bottom, 4px);
  top: var(--swiper-scrollbar-top, auto);
  z-index: 50;
  height: var(--swiper-scrollbar-size, 4px);
  width: calc(100% - 2 * var(--swiper-scrollbar-sides-offset, 1%));
}

.swiper-vertical > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-vertical {
  position: absolute;
  left: var(--swiper-scrollbar-left, auto);
  right: var(--swiper-scrollbar-right, 4px);
  top: var(--swiper-scrollbar-sides-offset, 1%);
  z-index: 50;
  width: var(--swiper-scrollbar-size, 4px);
  height: calc(100% - 2 * var(--swiper-scrollbar-sides-offset, 1%));
}

.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: var(--swiper-scrollbar-drag-bg-color, rgba(0, 0, 0, 0.5));
  border-radius: var(--swiper-scrollbar-border-radius, 10px);
  left: 0;
  top: 0;
}

.swiper-scrollbar-cursor-drag {
  cursor: move;
}

.swiper-scrollbar-lock {
  display: none;
}

/* Zoom container styles start */
.swiper-zoom-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.swiper-zoom-container > img,
.swiper-zoom-container > svg,
.swiper-zoom-container > canvas {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

/* Zoom container styles end */
.swiper-slide-zoomed {
  cursor: move;
  touch-action: none;
}

/* a11y */
.swiper .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}

.swiper-free-mode > .swiper-wrapper {
  transition-timing-function: ease-out;
  margin: 0 auto;
}

.swiper-grid > .swiper-wrapper {
  flex-wrap: wrap;
}

.swiper-grid-column > .swiper-wrapper {
  flex-wrap: wrap;
  flex-direction: column;
}

.swiper-fade.swiper-free-mode .swiper-slide {
  transition-timing-function: ease-out;
}

.swiper-fade .swiper-slide {
  pointer-events: none;
  transition-property: opacity;
}

.swiper-fade .swiper-slide .swiper-slide {
  pointer-events: none;
}

.swiper-fade .swiper-slide-active {
  pointer-events: auto;
}

.swiper-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

.swiper.swiper-cube {
  overflow: visible;
}

.swiper-cube .swiper-slide {
  pointer-events: none;
  backface-visibility: hidden;
  z-index: 1;
  visibility: hidden;
  transform-origin: 0 0;
  width: 100%;
  height: 100%;
}

.swiper-cube .swiper-slide .swiper-slide {
  pointer-events: none;
}

.swiper-cube.swiper-rtl .swiper-slide {
  transform-origin: 100% 0;
}

.swiper-cube .swiper-slide-active,
.swiper-cube .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

.swiper-cube .swiper-slide-active,
.swiper-cube .swiper-slide-next,
.swiper-cube .swiper-slide-prev {
  pointer-events: auto;
  visibility: visible;
}

.swiper-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  z-index: 0;
}

.swiper-cube .swiper-cube-shadow:before {
  content: "";
  background: #000;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  filter: blur(50px);
}

.swiper-cube .swiper-slide-next + .swiper-slide {
  pointer-events: auto;
  visibility: visible;
}

/* Cube slide shadows start */
.swiper-cube .swiper-slide-shadow-cube.swiper-slide-shadow-top,
.swiper-cube .swiper-slide-shadow-cube.swiper-slide-shadow-bottom,
.swiper-cube .swiper-slide-shadow-cube.swiper-slide-shadow-left,
.swiper-cube .swiper-slide-shadow-cube.swiper-slide-shadow-right {
  z-index: 0;
  backface-visibility: hidden;
}

/* Cube slide shadows end */
.swiper.swiper-flip {
  overflow: visible;
}

.swiper-flip .swiper-slide {
  pointer-events: none;
  backface-visibility: hidden;
  z-index: 1;
}

.swiper-flip .swiper-slide .swiper-slide {
  pointer-events: none;
}

.swiper-flip .swiper-slide-active,
.swiper-flip .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

/* Flip slide shadows start */
.swiper-flip .swiper-slide-shadow-flip.swiper-slide-shadow-top,
.swiper-flip .swiper-slide-shadow-flip.swiper-slide-shadow-bottom,
.swiper-flip .swiper-slide-shadow-flip.swiper-slide-shadow-left,
.swiper-flip .swiper-slide-shadow-flip.swiper-slide-shadow-right {
  z-index: 0;
  backface-visibility: hidden;
}

/* Flip slide shadows end */
.swiper-creative .swiper-slide {
  backface-visibility: hidden;
  overflow: hidden;
  transition-property: transform, opacity, height;
}

.swiper.swiper-cards {
  overflow: visible;
}

.swiper-cards .swiper-slide {
  transform-origin: center bottom;
  backface-visibility: hidden;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #101010;
  color: #000;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  color: #fff;
}

.container {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}

.main {
  flex-grow: 1;
}

.button {
  display: flex;
  width: 180px;
  padding: 16px 80px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #f57520;
  color: #fff;
  font-family: Inter;
  font-weight: 500;
  line-height: 123%;
  transition: all 0.3s;
}
.button:hover {
  background-color: #f57f2a;
}
.button:active {
  background-color: #e1610c;
}

.header {
  padding: 28px 20px;
  background-color: #101010;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu {
  display: flex;
}
.header__link {
  padding: 10px;
}
.header__userNav-svg {
  width: 24px;
  height: 24px;
}
.header__menu-item {
  color: #fff;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}
.header__menu-item:not(:last-child) {
  margin-right: 32px;
}
.header__userNav {
  display: flex;
}
.header__userNav-item:not(:last-child) {
  margin-right: 24px;
}

.header__menu-link--active {
  color: #f57520;
}

/* Выпадающий список */
.header-dropdown {
  background-image: url("../images/dropdown-bg.png");
  background-position: 0 270px;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  overflow: hidden;
  border-radius: 10px;
  min-width: 502px;
  height: 450px;
  position: absolute;
  background-color: #101010;
  padding: 40px 40px 40px 40px;
  z-index: 15;
  transition: opacity 0.4s ease, transform 0.4s ease;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.header-dropdown__link {
  color: #e5e5e5;
  font-size: 11px;
  padding: 10px;
  font-weight: 400;
}
.header-dropdown__item:not(:last-child) {
  margin-bottom: 24px;
}

.header__menu-item:hover .header-dropdown {
  opacity: 1; /* Видимость 100% */
  visibility: visible; /* Делаем видимым */
  transform: translateY(0); /* Восстановление позиции */
}

/* бургер */
.burger__input {
  display: none; /* Прячем чекбокс */
}

.burger__label {
  position: fixed;
  top: 35px;
  right: 20px;
  width: 30px;
  height: 25px;
  cursor: pointer;
  z-index: 30;
}

.burger__label::before,
.burger__label::after,
.burger__label span {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #616161;
  transition: 0.3s ease;
}

.burger__label::before {
  top: 0;
}

.burger__label::after {
  bottom: 0;
}

.burger__label span {
  top: 50%;
  transform: translateY(-50%);
}

/* Анимация открытия кнопки */
.burger__input:checked ~ .burger__label::before {
  transform: rotate(-45deg);
  top: 10px;
}

.burger__input:checked ~ .burger__label::after {
  transform: rotate(45deg);
  bottom: 12px;
}

.burger__input:checked ~ .burger__label span {
  transform: scale(0);
}

/* Стили меню */
.menu__box {
  position: fixed;
  top: 0;
  right: -100%; /* Скрыто изначально */
  width: 448px;
  height: 100%;
  background-color: #fff;
  padding: 104px 40px;
  box-shadow: -2px 2px 6px rgba(0, 0, 0, 0.4);
  transition: right 0.3s ease; /* Плавное открытие */
  z-index: 20;
  color: #101010;
  font-size: 18px;
  font-weight: 500;
}
.menu__box-title {
  color: #000;
  font-family: "BebasNeue";
  font-size: 40px;
  margin-bottom: 48px;
  font-weight: 400;
  line-height: 123%;
}

.burger__input:checked ~ .menu__box {
  right: 0; /* Меню выезжает справа */
}

.menu__item {
  display: block;
  padding: 12px 0px;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.menu__item:hover {
  background-color: #cfd8dc;
}

.header__menu-link,
.header-dropdown__link {
  padding: 15px;
  transition: color 0.3s;
}

.header__menu-link:hover,
.header-dropdown__link:hover {
  color: red;
}

/* swiper-slide */
.swiper-wrapper {
  position: relative;
}

.top-header-slide img {
  width: 100%;
  height: calc(100vh - 104px);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.top-header-swiper-pagination {
  display: flex;
  margin-bottom: 269px;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.top-header-swiper-pagination-bullet {
  background-color: #4c4c4c;
}

.swiper-pagination-bullet-active {
  width: 19px;
  height: 19px;
  background-color: #f57520;
}

/* контент */
.top-header {
  height: calc(100vh - 104px);
  position: relative;
}
.top-header__content {
  position: absolute;
  bottom: 100px;
  left: 26px;
  z-index: 10;
}
.top-header__wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 625px;
  height: calc(100vh - 104px);
  max-width: 625px;
}
.top-header__title {
  color: #fff;
  font-family: "Bebas Neue Cyrillic";
  font-size: 110px;
  font-weight: 400;
  line-height: 123%;
  margin-bottom: 48px;
}
.top-header__text {
  color: #fff;
  font-family: Inter;
  font-size: 18px;
  font-weight: 300;
  line-height: 160%;
  margin-bottom: 40px;
}
.top-header__box-style {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 11;
  width: 100%;
}
.top-header__box {
  display: flex;
  flex-direction: column;
  max-width: 420px;
  width: 100%;
  transition: transform 0.3s ease;
}
.top-header__box-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  background: #101010;
  overflow: hidden;
  transition: height 0.3s ease, border-radius 0.3s ease;
  height: 212px;
}
.top-header__box-wrapper:hover {
  height: 230px;
}
.top-header__box-text {
  height: 163px;
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 160%;
  padding-top: 48px;
  padding-left: 48px;
  padding-bottom: 163px;
  overflow: hidden;
}
.top-header__box-link {
  transform: translateY(100px);
  color: #f57520;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 123%;
  padding-left: 48px;
  transition: all 0.3s;
}

.top-header__box-wrapper:hover .top-header__box {
  transform: translateY(-10px);
}
.top-header__box-wrapper:hover .top-header__box .top-header__box-link {
  transform: translateY(0px);
}

.top-header__box-wrapper:first-child {
  flex: 1 1 auto;
}
.top-header__box-wrapper:first-child:hover {
  border-radius: 0 10px 0 0;
}

.top-header__box-wrapper:nth-child(2) {
  flex: 0 0 420px;
  background: #1a1a1a;
}
.top-header__box-wrapper:nth-child(2):hover {
  border-radius: 10px 10px 0 0;
}

.top-header__box-wrapper:last-child {
  flex: 1 1 auto;
  justify-content: start;
  background: #2e2e2e;
}
.top-header__box-wrapper:last-child:hover {
  border-radius: 10px 0 0 0;
}

.partners {
  position: relative;
  height: 320px;
  background: #fff;
  margin: 0;
  padding: 0;
}

.partners__swiper {
  width: 100%;
  height: 100%;
  overflow: hidden; /* Скрывает лишний контент за пределами контейнера */
}

.partners__swiper-slide {
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0;
}

.partners__swiper-slide img {
  display: block;
  width: 233px;
  height: 75px;
  -o-object-fit: contain;
     object-fit: contain;
}

.new-products {
  background-color: #f8f8f8;
  padding: 80px 0;
}
.new-products__title {
  color: #101010;
  font-family: "BebasNeue";
  font-size: 64px;
  line-height: 123%;
  margin-bottom: 80px;
}

.product {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
  margin-bottom: 38px;
  height: 506px;
}
.product__item {
  position: relative;
  border-radius: 10px;
  padding: 18px;
  background-color: #fff;
  width: 380px;
  height: 420px;
  position: relative;
  transition: all 0.3s;
}
.product__item a {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.product__flag-element {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px 0px 10px 0px;
}
.product__status {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #f53a20;
}
.product__true {
  color: #4d932c;
}
.product__img {
  margin-bottom: 16px;
}
.product__text {
  overflow: hidden;
  color: #101010;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 24px;
}
.product__prise {
  color: #777;
  font-weight: 500;
  line-height: 123%;
}
.product__link::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
}
.product__inner {
  text-align: center;
}
.product__else {
  position: absolute;
  bottom: 15px;
  transform: translateX(-100%);
  text-align: center;
  color: #777;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  transition: color 0.3s;
}
.product__else:hover {
  color: red;
}
.product__btn {
  opacity: 0;
  visibility: hidden;
  margin-top: 33px;
  width: 100%;
  transition: all 0.5s;
  z-index: 10;
  position: relative;
}

.product__item:hover .product__btn {
  opacity: 1; /* Показываем кнопку только при наведении на родительский элемент */
  visibility: inherit;
}

.product__item:hover {
  transform: translateY(10px);
  height: 506px;
  z-index: 10;
}

.catalog {
  padding: 160px 0 80px 0;
  background-color: #fff;
}
.catalog__title {
  color: #101010;
  font-family: "BebasNeue";
  font-size: 64px;
  font-weight: 700;
  line-height: 123%;
  margin-bottom: 80px;
}
.catalog__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "header header header" "bar content1 content3" "bar content2 content4";
  gap: 16px;
}
.catalog__item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background: #101010;
  color: #fff;
  font-family: "BebasNeue";
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 123%;
}
.catalog__item--1 {
  display: flex;
  justify-content: flex-start;
  padding-left: 80px;
  padding-bottom: 35px;
  grid-area: header;
  height: 300px;
  border-radius: 10px;
  background: #f57520;
  text-align: left;
}
.catalog__item--2 {
  grid-area: bar;
  height: 444px;
}
.catalog__item--3 {
  grid-area: content1;
  height: 190px;
  padding-bottom: 16px;
}
.catalog__item--4 {
  transform: translateY(-50px);
  grid-area: content2;
  height: 239px;
}
.catalog__item--5 {
  grid-area: content3;
  height: 239px;
}
.catalog__item--6 {
  grid-area: content4;
  height: 190px;
}

.catalog-info {
  display: flex;
  justify-content: space-between;
}
.catalog-info__title {
  color: #101010;
  font-family: "BebasNeue";
  font-size: 64px;
  font-weight: 400;
  line-height: 123%;
  width: 620px;
}
.catalog-info__content {
  width: 510px;
}
.catalog-info__text {
  color: #101010;
  font-weight: 400;
  margin-bottom: 32px;
}
.catalog-info__link {
  color: #b3b3b3;
  font-weight: 500;
  line-height: 123%;
}

.presentation {
  position: relative;
}

.presentation__video {
  position: relative;
}

.presentation__img {
  width: 100%;
  height: 600px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  display: block;
}

.presentation__btn {
  position: absolute;
  top: 50%; /* Центрирование кнопки */
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px; /* Размер кнопки */
  height: 50px;
  z-index: 20; /* Поверх обложки */
  border-radius: 50%; /* Закругляем кнопку */
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

.presentation__play {
  display: block; /* По умолчанию показываем кнопку play */
}

.presentation__pause {
  display: none; /* Кнопка pause скрыта по умолчанию */
}

.presentation {
  background-color: #2e2e2e;
}
.presentation__list {
  display: flex;
  justify-content: space-between;
  padding: 36px 0;
  color: #fff;
}
.presentation__title {
  position: relative;
  padding-left: 56px;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 24px;
}
.presentation__title::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background-image: url("../images/icons/brand.svg");
}
.presentation__title--guarantee::after {
  content: "";
  background-image: url("../images/icons/guarantee.svg");
}
.presentation__title--customization::after {
  content: "";
  background-image: url("../images/icons/customization.svg");
}
.presentation__title--delivery::after {
  content: "";
  background-image: url("../images/icons/delivery.svg");
}
.presentation__text {
  max-width: 280px;
}

.best {
  padding: 80px 0 0 0;
}
.best__container {
  background-image: url("../images/best-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  max-width: 1925px;
  height: 100%;
}
.best__title {
  max-width: 375px;
  color: #fff;
  font-family: "BebasNeue";
  font-size: 64px;
  font-weight: 400;
  line-height: 123%;
}
.best__inner {
  transform: translateY(-68px);
  margin-left: auto;
  max-width: 1280px;
}

.mountain {
  padding: 132px 0 80px 0;
  background-color: #f8f8f8;
}
.mountain__title {
  max-width: 400px;
  color: #101010;
  font-family: "BebasNeue";
  font-size: 64px;
  font-weight: 400;
  line-height: 123%;
  margin-bottom: 80px;
}
.mountain__wrapper {
  display: flex;
  justify-content: space-between;
  font-size: 20px; /* title */
  font-weight: 400; /* text */
  color: #fff;
}

.mountain-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}
.mountain-card__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  padding: 30px;
  width: 302px;
  height: 233px;
  background: #34312d;
}
.mountain-card__item:nth-child(2) .mountain-card__title {
  padding-top: 0;
}
.mountain-card__title {
  position: relative;
  font-weight: 500;
  margin-bottom: 30px;
  padding-top: 24px;
}
.mountain-card__text {
  font-size: 16px;
}

.mountain-about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 508px;
}
.mountain-about__img {
  height: 257px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.mountain-about__text {
  font-size: 16px;
  color: #4c4c4c;
}

.mountain-card__title::before {
  content: "";
  position: absolute;
  background-image: url("../images/icons/frame.svg");
  right: 0;
  top: 0;
  width: 71px;
  height: 71px;
}
.mountain-card__title--computer::before {
  background-image: url("../images/icons/computer.svg");
}
.mountain-card__title--transmission::before {
  background-image: url("../images/icons/transmission.svg");
}
.mountain-card__title--equipment::before {
  background-image: url("../images/icons/equipment.svg");
}

.advantages {
  padding: 160px 0;
  background-color: #fff;
}
.advantages__container {
  display: flex;
  max-width: 1920px;
  margin: 0 auto;
}
.advantages__img {
  height: 574px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.advantages__title {
  color: #101010;
  font-family: "BebasNeue";
  font-size: 64px;
  font-weight: 400;
  line-height: 123%;
  margin-bottom: 80px;
}
.advantages__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  max-width: 620px;
  margin-left: auto;
  margin-right: 80px;
}
.advantages__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  background-color: #f57520;
  padding: 32px 47px 32px 32px;
  width: 290px;
  height: 267px;
  color: #fff;
}
.advantages__heading {
  font-size: 20px;
  font-weight: 500;
}
.advantages__link {
  font-weight: 500;
  line-height: 123%;
}

.equipment {
  padding: 80px 0;
  background-color: #f8f8f8;
}
.equipment__title {
  color: #101010;
  font-family: "BebasNeue";
  font-size: 64px;
  font-weight: 400;
  line-height: 123%;
  margin-bottom: 80px;
}
.equipment__inner {
  text-align: center;
}
.equipment__link {
  color: #777777;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}

.equipment-swiper {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin-bottom: 48px;
}
.equipment-swiper__slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  padding: 18px 16px;
  height: 443px;
  width: 370px !important;
}
.equipment-swiper__img {
  width: 368px;
  height: 287px;
}
.equipment-swiper__text {
  color: #101010;
  font-family: Inter;
  font-size: 18px;
  width: 349px;
}
.equipment-swiper__new-prise {
  color: #777;
  font-weight: 500;
  line-height: 123%;
  margin-right: 8px;
}
.equipment-swiper__old-prise {
  color: #777;
  font-weight: 500;
  line-height: 123%;
  color: #b3b3b3;
  font-size: 12px;
  text-decoration-line: line-through;
}
.equipment-swiper__button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #101010;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(50%);
  z-index: 13;
  cursor: pointer;
}
.equipment-swiper__button-next {
  position: absolute;
  top: 50%;
  right: 15px;
}
.equipment-swiper__arrow-svg {
  color: #fff;
  width: 14px;
  height: 24px;
}
.equipment-swiper .swiper-button-disabled {
  background-color: #fff;
}
.equipment-swiper .swiper-button-disabled .equipment-swiper__arrow-svg {
  color: #101010;
}

.reviews {
  position: relative;
  padding: 80px 0;
  background-color: #fff;
}
.reviews__title {
  color: #101010;
  font-family: "BebasNeue";
  font-size: 64px;
  font-weight: 400;
  line-height: 123%;
  margin-bottom: 80px;
}
.reviews__container {
  max-width: 1725px;
  margin: 0 auto;
  margin-bottom: 48px;
}
.reviews__item {
  box-sizing: border-box;
  width: 400px;
  height: 462px;
  border-radius: 10px;
  background-color: #101010;
}
.reviews__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 267px;
  padding: 27px;
  color: #fff;
  font-weight: 400;
}
.reviews__img {
  width: 100%;
  height: 195px;
  -o-object-fit: cover;
     object-fit: cover;
}
.reviews__teg {
  color: #f57520;
}
.reviews__text {
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.reviews__wrapper {
  text-align: center;
}
.reviews__link-bottom {
  color: #777;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}

.map {
  padding-bottom: 60px;
  background-color: #fff;
}
.map__title {
  color: #101010;
  font-family: "BebasNeue";
  font-size: 64px;
  font-weight: 400;
  line-height: 123%;
  margin-bottom: 80px;
}
.map__container {
  margin: 0 auto;
  max-width: 1920px;
  margin-bottom: 40px;
}
.map__info {
  color: #101010;
  display: flex;
  justify-content: space-between;
}
.map__item {
  max-width: 228px;
}
.map__link {
  display: inline-block;
  width: 100%;
  padding-left: 48px;
  position: relative;
  transition: all 0.3s ease;
}
.map__link--navigation::after, .map__link--mail::after, .map__link--calendar::after, .map__link--tel::after {
  content: "";
  background-image: url("../images/icons/smartphone.svg");
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  background-size: cover;
  background-repeat: no-repeat;
}
.map__link--navigation::after {
  content: "";
  background-image: url("../images/icons/navigation-orange.svg");
}
.map__link--mail::after {
  content: "";
  background-image: url("../images/icons/mail-orange.svg");
}
.map__link--calendar::after {
  content: "";
  background-image: url("../images/icons/calendar.svg");
}
.map__link:hover, .map__link:active, .map__link:focus {
  color: #f57520;
}
.map__link:focus {
  box-shadow: 0 0 5px #f57520;
}

.footer {
  background-color: #101010;
}
.footer__wrapper {
  max-width: 1915px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}

.footer-top {
  height: 275px;
  background-image: url("../images/footer-top_bg.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  padding: 40px 0 40px;
}
.footer-top__title {
  color: #fff;
  font-family: "Bebas Neue Cyrillic";
  font-size: 50px;
  font-weight: 400;
  line-height: 123%;
  text-transform: uppercase;
  margin-bottom: 19px;
}

.form__box {
  display: flex;
  margin-bottom: 14px;
}
.form__input {
  padding: 16px 10px 16px 10px;
  width: 346px;
  height: 46px;
  margin-right: 16px;
}
.form__input::-moz-placeholder {
  color: #b3b3b3;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
}
.form__input::placeholder {
  color: #b3b3b3;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
}
.form__checkbox-text {
  color: #fff;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 160%;
}

.form__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.form__custom-checkbox {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.5;
}

/* Внешний вид кастомного чекбокса */
.form__checkbox-mark {
  width: 24px;
  height: 24px;
  background-color: #fff;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  transition: background-color 0.3s, border-color 0.3s;
}

/* Изменения при наведении */
.form__custom-checkbox:hover .form__checkbox-mark {
  border-color: #f57520;
}

/* Изменения при отметке чекбокса */
.form__checkbox:checked + .form__checkbox-mark {
  background-color: #f57520;
  border-color: #f57520;
}

/* Галочка, которая появляется при отметке чекбокса */
.form__checkbox:checked + .form__checkbox-mark::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 9px;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

/* footer-bottom */
.footer-bottom {
  padding: 100px 0 23px 0;
  min-height: 490px;
}
.footer-bottom__wrapper {
  display: flex;
  margin-bottom: 40px;
}
.footer-bottom__logo-box {
  margin-right: 150px;
  max-width: 289px;
}
.footer-bottom__logo-text {
  color: #b3b3b3;
  font-weight: 300;
  line-height: 160%;
  margin-top: 64px;
  min-width: 289px;
}
.footer-bottom__inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer-bottom__contacts {
  display: flex;
  flex-direction: column;
}
.footer-bottom__contacts-item {
  padding-left: 48px;
  margin-bottom: 27px;
  position: relative;
}
.footer-bottom__contacts-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 20%;
  height: 32px;
  width: 32px;
  background-image: url("../images/icons/phone.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.footer-bottom__contacts-item--navigation::after {
  content: "";
  background-image: url("../images/icons/navigation.svg");
}
.footer-bottom__contacts-item--mail::after {
  content: "";
  background-image: url("../images/icons/mail.svg");
  bottom: -15%;
}
.footer-bottom__contacts-link {
  display: block;
}
.footer-bottom__agreement {
  padding-top: 16px;
  border-top: 1px solid #34312d;
}
.footer-bottom__agreement-text {
  color: #777;
  font-size: 12px;
  text-transform: uppercase;
}
.footer-bottom__agreement-text:not(:last-child) {
  margin-right: 24px;
}

.footer-bottom__title {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  line-height: 160%;
  margin-bottom: 32px;
}

.footer-bottom__client-link,
.footer-bottom__catalog-link,
.footer-bottom__contacts-link {
  font-weight: 300;
}

.footer-bottom__client-item:not(:last-child),
.footer-bottom__catalog-item:not(:last-child) {
  margin-bottom: 16px;
}

.footer-bottom__catalog-link,
.footer-bottom__client-link {
  padding: 15px;
  transition: color 0.3s;
}

.footer-bottom__catalog-link:hover,
.footer-bottom__client-link:hover {
  color: red;
}/*# sourceMappingURL=style.css.map */